<launch>
  <arg name="enable_raw" default="true"/>
  <arg name="camera_id" default="0"/>
  <arg name="camera_frame_id" default="raspicam"/>
  <arg name="camera_name" default="camerav2_320x240"/>

  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="camera_frame_id" value="$(arg camera_frame_id)"/> 
    <param name="enable_raw" value="$(arg enable_raw)"/>
    <param name="camera_id" value="$(arg camera_id)"/> 

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_320x240.yaml"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="width" value="320"/>
    <param name="height" value="240"/>

    <param name="framerate" value="20"/>
  </node>

  <node pkg="lane_finder" name="lane_finder" type="lanes_finder" ns="/perception/lanes">
    <param name="thd" value="220"/>
    <param name="roiHeight" value="100"/>
    <param name="roiWidth" value="200"> 
  /node>

  <node pkg="frames_logger" name="logger" type="process_image.py" ns="/perception/logger" />

  <node pkg="trajectory_generator" name="planner" type ="trajectory_generator" ns ="planning/trajectory">
    <param name="speed" value="220"/>
    <param name="roiHeight" value="100"/>
  </node>

  <node pkg="pid_controller" name="controller" type="pid_controller" ns="control/pid"/>
  
</launch>
